.drum-machine-wrapper {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.pads {
  overflow: hidden;
  max-width: 500px;
  margin: 50px auto;
}
.drum-pad {
  float: left;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  border-radius: 50%;
  background: #f8f8f8;
  position: relative;
  margin: 1.6%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.drum-pad.active {
  background: #FB8C00;
  boxshadow: 2px 2px 4px #5D4037;
}
.drum-pad > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.power-button {
  background: #ccc;
  padding: 10px 30px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
.power-button.power-on {
  background: green;
}
.volume-control {
  margin-top: 20px;
}
.display {
  margin-top: 20px;
  min-width: 100px;
  min-height: 50px;
  background: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
}