.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.reset-button {
  border: none;
  box-shadow: none;
  display: inline-block;
  background: none;
}
.reset-button:focus,
.reset-button:active {
  outline: none;
}
button {
  cursor: pointer;
}
.required:after {
  content: '*';
  color: red;
}
body {
  font-family: lato;
}
body * {
  box-sizing: border-box;
}
.app-wrapper {
  max-width: 700px;
  margin: auto;
  position: relative;
}
.box-header {
  background: #5f9624;
  padding: 10px 20px 40px;
  color: #fff;
  position: relative;
  border-radius: 8px;
}
.box-header:after,
.box-header:before {
  content: '';
  display: table;
  clear: both;
}
.box-header h1 {
  float: left;
  margin: 0;
}
.box-header .add {
  border: none;
  box-shadow: none;
  background: #ef4a39;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  float: right;
  margin-top: 5px;
}
.box-header .add:hover {
  background: #c03e30;
}
.box-header .index-btn {
  border: none;
  box-shadow: none;
  display: inline-block;
  background: none;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.box-header .index-btn:focus,
.box-header .index-btn:active {
  outline: none;
}
.box-header .index-btn:hover {
  color: #ddf2c7;
}
.box-header .recipe-index {
  position: absolute;
  color: #333;
  background: #fff;
  top: 100%;
  left: 0;
  border: 1px solid #ddd;
}
.box-header .recipe-index h3 {
  margin: 0;
  padding: 10px 20px;
}
.box-header .recipe-index h3:not(.empty) {
  cursor: pointer;
}
.box-header .recipe-index h3:not(.empty):hover {
  background: #ddf2c7;
}
.box-header .recipe-index h3.current {
  background: #ddf2c7;
}
.box-header .recipe-index h3.empty {
  padding: 20px;
}
.recipe-display {
  border: 1px solid #5f9624;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px 20px;
}
.recipe-display .header {
  display: flex;
}
.recipe-display h2 {
  margin-right: 20px;
}
.recipe-display .edit,
.recipe-display .delete {
  border: none;
  box-shadow: none;
  display: inline-block;
  background: none;
  font-size: 24px;
  color: #5f9624;
  transition: color, 0.3s;
}
.recipe-display .edit:focus,
.recipe-display .delete:focus,
.recipe-display .edit:active,
.recipe-display .delete:active {
  outline: none;
}
.recipe-display .edit:hover,
.recipe-display .delete:hover {
  color: #333;
}
.recipe-display .recipe-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.recipe-display .image-wrapper {
  width: 40%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #5f9624;
}
.recipe-display .image-wrapper img {
  max-width: 100%;
}
.recipe-display .ingrediends {
  width: 55%;
  order: -1;
}
.recipe-display li {
  padding-bottom: 8px;
}
.nav {
  padding: 10px 20px;
  background: #5f9624;
  color: #fff;
  font-size: 18px;
  margin-top: 15px;
  border: none;
}
.nav[disabled],
.nav[disabled]:hover {
  background: #ddd;
  cursor: initial;
}
.nav.next {
  float: right;
}
.nav:hover {
  background: #79bf2e;
}
.editor-wrapper {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  padding: 20px;
  top: 0;
  width: 100%;
  height: 100%;
}
.editor-wrapper .editor {
  background: #fff;
  padding: 20px;
  border: 2px solid #5f9624;
  border-radius: 8px;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  position: relative;
}
.editor-wrapper .editor .header .close {
  border: none;
  box-shadow: none;
  display: inline-block;
  background: none;
  font-size: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.editor-wrapper .editor .header .close:focus,
.editor-wrapper .editor .header .close:active {
  outline: none;
}
.editor-wrapper .editor .header .close:hover {
  color: #5f9624;
}
.editor-wrapper .editor .footer button {
  font-size: 18px;
  color: #fff;
  padding: 8px 40px;
  margin-right: 20px;
  border: none;
}
.editor-wrapper .editor .footer button.save,
.editor-wrapper .editor .footer button.add {
  background: #ef4a39;
}
.editor-wrapper .editor .footer button.save:hover,
.editor-wrapper .editor .footer button.add:hover {
  background: #c03e30;
}
.editor-wrapper .editor .footer button.close {
  background: #333;
}
.editor-wrapper .editor .footer button.close:hover {
  background: #999;
}
.editor-wrapper h2 {
  margin-top: 0;
}
.editor-wrapper label {
  display: block;
  margin-bottom: 10px;
}
.editor-wrapper input {
  height: 40px;
}
.editor-wrapper input,
.editor-wrapper textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.editor-wrapper textarea {
  min-height: 150px;
}